@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f5e4da;
}

nav {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    color: white;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    cursor: pointer;
    transition: font-weight 0.5s ease;
}

nav a:hover {
    font-weight: bold;
}

.menu-container {
    width: 1220px;
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 320px;
    height: 35px;
    margin: 35px 0 20px 0;
    border-radius: 8px;
    background-color: #e8935e;
}

.fundo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 1260px;
    height: 70vh;
    margin: 0 auto;
    border-radius: 30px;
    background-color: white;
}

.fundo img {
    width: 420px;
}

.textos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textos h1 {
    font-size: 23px;
    color: #545454;
    width: 300px;
    text-align: center;
    margin-bottom: -10px;
}

.textos h2 {
    font-size: 16px;
    font-weight: normal;
    color: #767676;
    width: 380px;
    text-align: center;
    margin-bottom: -8px;
}

.textos h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
}

button {
    width: 280px;
    height: 38px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #e8935e;
}

button:hover {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .fundo {
        width: 990px;
    }
    .menu-container {
        width: 950px;
    }
}

@media (max-width: 992px) {
    .fundo {
        width: 800px;
    }
    .menu-container {
        width: 760px;
    }
    .fundo img {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .fundo {
        width: 700px;
        gap: 20px;
    }
    .menu-container {
        width: 660px;
    }
    .fundo img {
        width: 250px;
    }
}

@media (max-width: 576px) {
    .fundo {
        width: 90%;
        height: auto;
        flex-direction: column;
        gap: 15px;
        padding: 1rem;
    }
    .menu {
        margin: 20px auto 20px auto;
    }
    .menu-container {
        width: 90%;
    }
    .fundo img {
        width: 80%;
        max-width: 250px;
        margin-bottom: 0;
    }
    .textos h1, .textos h2, .textos h3 {
        width: 90%;
    }
    button {
        width: 90%;
        max-width: 280px;
    }
}
